.square_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 500px;
  min-height: 500px;
  height: auto;
  background-color: #f7f7f7;
  padding: 30px;
  margin-top: 10px;
  border-radius: 20px;
}

.tasks_wrapper {
  margin-top: 15px;
}

.title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}